/* .BlockHandle {
  background-color: rgba(4, 98, 152, 0.7);
  width: 240px;
  
}

.BlockHandle{
  border-left: 3px solid #0000001f;
  border-right: 3px solid #0000001f;
  height: 220px;
  background-color: rgba(4, 98, 152, 0.7);

  position: relative;
} */

.txtTauBien p {
  color: white;
}

.containerContent {
  display: flex;
  align-items: center;
  
  justify-content: center;
}



.BlockHandle {
  flex: 1; /* This will make all BlockHandle elements take equal space horizontally */
  margin: 5px; /* Add margin to create spacing between BlockHandle elements */
  padding: 10px; /* Add padding as needed */
  border: 1px solid #6dcff6; /* Add border styling as needed */
}

.linkCtn {
  text-decoration: none;
  color: inherit; /* Inherit the text color from the parent container */
}

.slick-dots{
  display: none;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 35%;
}

.white-svg{
  fill: white;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;

}

.cta:hover svg {
  transform: translateX(0);

}

.cta:active svg {
  transform: scale(0.9);
  

}

.hover-underline-animation {
  font-size: 14px;
  position: relative;
  color: #ffffff;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section .notification {
  position: absolute;
  top: 6rem;
  left: 49rem;
  background-color: rgb(188, 188, 213);
  border-radius: 30px;
  color: white;
  padding: 5px 10px;
  box-shadow: 5px 10px 15px 5px #888888;
}

