
.table td, .table th {
    background-color: red;
    vertical-align: middle !important;
    text-align: center;
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
}

    .table td:nth-child(2) {
        text-align: left !important;
    }